@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0b3084;
    font-family: "Lora", "Georgia", serif;
    font-weight: bold;
    font-size: 45px;
}

h2 {
    line-height: 1;
    margin: .125em 0em .125em 0em;
}

#content {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

a:hover {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.orangetext {
    color: #C45900;
    margin: .25em;
}

#logo {
    position: relative;
    background-color: white;
    max-width: 100px;
    padding: 10px;
    margin-left: 10px;
    border: solid;
    border-width: 1px;
}

nav {
    background-color: #C45900;
    color: #0b3084;
    max-width: 100%;
    margin-top: -95px;
    font-size: 1.2em;
    line-height: 3em;
    padding-left: 100px;
}

nav ul {
    margin: 0;
}

nav a {
    padding: 1em .6em;
}

#banner img {
    width: 100%;
}

#banner {
    padding: 0;
    max-width: 100%;
}

.rightcol,
.leftcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

img {
    max-width: 100%;
}

#section1,
#section2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

a {
    color: #0b3084;
    font-size: 1.1em;
}

#section2 {
    background-color: #0b3084;
}

#bottom-row {
    text-align: center;
    width: 70%;
    margin: 0 auto 2em auto;
}

.full-width {
    width: 100%;
}

p {
    line-height: 1.5;
    font-size: 2.5;
}

body {
    font-family: "Calibri", "Helvetica", sans-serif;
}

section {
    padding: 1em;
}

#rush {
    font-family: "Shadows Into Light";
}

nav li {
    display: inline;
}

footer {
    display: flex;
    flex-flow: row wrap;
    max-height: 55px;
    width: 100%;
}

#copyright {
    float: left;
}

.logo-link {
    margin: 5px;
    position: relative;
    margin-left: auto;
    margin-right: 0;
}